.account {
  padding-bottom: 104px; }
  @media (max-width: 768px) {
    .account {
      padding-bottom: 10px; } }
  .account .content {
    -webkit-box-align: unset;
    -webkit-align-items: unset;
        -ms-flex-align: unset;
            align-items: unset; }
  .account .main {
    padding-left: 32px; }
    @media (max-width: 992px) {
      .account .main {
        padding-left: 0; } }
  .accountNav {
    width: 100%; }
    .accountNav::before {
      content: '';
      display: none; }
      @media (max-width: 768px) {
        .accountNav::before {
          display: block;
          top: 15px; } }
    .accountNav .dropdown__title {
      display: none;
      font-size: 14px;
      font-weight: 600; }
      @media (max-width: 768px) {
        .accountNav .dropdown__title {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .accountNav .dropdown__title::before {
        content: '';
        margin-right: 10px; }
        @media (max-width: 768px) {
          .accountNav .dropdown__title::before {
            -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                    transform: scale(0.7);
            margin-right: 8px; } }
    .accountNav .dropdown__list {
      opacity: 1;
      max-height: 100%;
      position: static;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      padding: 0; }
      @media (max-width: 768px) {
        .accountNav .dropdown__list {
          opacity: 0;
          max-height: 0;
          position: absolute;
          border: 1px solid #c8c8c8; } }
      @media (max-width: 768px) {
        .accountNav .dropdown__list li {
          margin: 0; } }
  .accountForm {
    max-width: 784px; }
    @media (max-width: 992px) {
      .accountForm {
        max-width: 100%; } }
    .accountForm__item:not(:last-child) {
      margin-bottom: 40px; }
    .accountForm__title {
      border-bottom: 1px solid #c8c8c8;
      padding-bottom: 8px;
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; }
      @media (max-width: 768px) {
        .accountForm__title {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 16px; } }
    .accountForm__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .accountForm__row {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start; } }
      .accountForm__row:not(:last-child) {
        margin-bottom: 16px; }
      .accountForm__row--comm {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #7b7b7c; }
        @media (max-width: 768px) {
          .accountForm__row--comm {
            font-size: 12px;
            line-height: 20px; } }
      .accountForm__row--pol {
        padding: 8px 0; }
        .accountForm__row--pol .accountForm__name {
          -webkit-align-self: flex-start;
              -ms-flex-item-align: start;
                  align-self: flex-start; }
      .accountForm__row--login .accountForm__name {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        margin-top: 8px; }
      .accountForm__row--login label {
        margin-top: 16px;
        font-size: 14px; }
        @media (max-width: 768px) {
          .accountForm__row--login label {
            margin-top: 8px;
            font-size: 12px; } }
      .accountForm__row--google button {
        border-bottom: 1px dashed #242426;
        border-radius: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px; }
        @media (max-width: 768px) {
          .accountForm__row--google button {
            font-size: 11px;
            font-weight: 800; } }
    .accountForm__name {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #7b7b7c; }
      @media (max-width: 768px) {
        .accountForm__name {
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 4px; } }
    .accountForm__val {
      width: 65%; }
      @media (max-width: 768px) {
        .accountForm__val {
          width: 100%; } }
      .accountForm__val .input {
        width: 100%; }
    .accountForm label {
      display: block; }
      .accountForm label:not(:last-child) {
        margin-bottom: 8px; }
    .accountForm__submit {
      width: 240px;
      margin: 32px auto 0 auto; }
      @media (max-width: 768px) {
        .accountForm__submit {
          width: 100%; } }
      .accountForm__submit::before {
        content: '';
        display: none; }
