.header--checkout {
  padding: 16px 0;
  border-bottom: 1px solid #c8c8c8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header--checkout img {
    width: 104px;
    height: 44px;
    -o-object-fit: contain;
       object-fit: contain; }
  .header--checkout .header__logo {
    padding-top: 0; }

.checkout {
  position: relative;
  padding: 24px 0 48px 0; }
  .checkout__steps {
    width: calc(100% - 544px); }
    @media (max-width: 1199px) {
      .checkout__steps {
        width: calc(100% - 415px); } }
    @media (max-width: 992px) {
      .checkout__steps {
        width: calc(100% - 360px); } }
    @media (max-width: 768px) {
      .checkout__steps {
        width: 100%; } }
  .checkout__step {
    padding-top: 24px; }
  .checkout__widget {
    position: absolute;
    top: 24px;
    right: 0;
    width: 376px; }
    @media (max-width: 992px) {
      .checkout__widget {
        width: 320px;
        padding: 15px; } }
    @media (max-width: 768px) {
      .checkout__widget {
        position: static;
        margin: 42px 0 0 -5%;
        width: calc(100% + 10%); } }
    .checkout__widget .headerCart__list {
      max-height: 220px; }
    @media (max-width: 768px) {
      .checkout__widget .headerCart__totalLabel, .checkout__widget .headerCart__name, .checkout__widget .headerCart__price,
      .checkout__widget .headerCart__quantly, .checkout__widget .headerCart__totalPrice {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .checkout__widget .headerCart__cost {
        font-size: 16px; } }
  .checkout__completed {
    display: none; }
  .checkout__change {
    border-bottom: 1px dashed #242426;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px; }
  .checkout__title {
    padding-bottom: 8px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    .checkout__title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #c8c8c8; }
    @media (max-width: 768px) {
      .checkout__title {
        font-size: 14px; } }
  .checkout__next {
    margin-top: 35px; }
    .checkout__next::before {
      content: '';
      display: none; }
    @media (max-width: 768px) {
      .checkout__next {
        max-width: 156px; } }
  .checkout .input {
    width: 512px;
    max-width: 100%;
    margin-bottom: 16px; }
    @media (max-width: 768px) {
      .checkout .input {
        width: 100%; } }
  .checkout__row {
    padding-top: 24px; }
    .checkout__row--birth {
      width: 472px;
      max-width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .checkout__row--birth {
          width: 100%; } }
      .checkout__row--birth .checkout__rowTitle {
        width: 100%; }
      .checkout__row--birth .input {
        max-width: 148px !important; }
        @media (max-width: 992px) {
          .checkout__row--birth .input {
            max-width: 31% !important; } }
    .checkout__row--passport {
      width: 472px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .checkout__row--passport {
          max-width: 100%; } }
      .checkout__row--passport .checkout__rowTitle {
        width: 100%; }
      .checkout__row--passport .input {
        max-width: 31% !important; }
        @media (max-width: 992px) {
          .checkout__row--passport .input {
            max-width: 31% !important; } }
        .checkout__row--passport .input + .input {
          max-width: 65% !important; }
          @media (max-width: 992px) {
            .checkout__row--passport .input + .input {
              max-width: 65% !important; } }
          .checkout__row--passport .input + .input + .input {
            max-width: 100% !important; }
  .checkout__rowTitle {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
    @media (max-width: 768px) {
      .checkout__rowTitle {
        font-size: 12px; } }
  .checkout__tooltip {
    padding-left: 40px;
    color: #7b7b7c; }
    @media (max-width: 768px) {
      .checkout__tooltip {
        font-size: 12px; } }
  .checkout__rowItem {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
    .checkout__rowItem label {
      font-size: 16px; }
  .checkout__delPrice {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
    @media (max-width: 768px) {
      .checkout__delPrice {
        font-size: 12px;
        line-height: 24px; } }
  .checkout__passport {
    max-width: 472px;
    display: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 768px) {
      .checkout__passport {
        max-width: 100%; } }
    .checkout__passport .checkout__row {
      width: 100%; }
    .checkout__passport .checkout__row--pass, .checkout__passport .checkout__row--idCard {
      display: none; }
    .checkout__passport input[type=radio] {
      display: none !important; }
      .checkout__passport input[type=radio] + label {
        border-bottom: 4px solid transparent;
        padding-left: 0;
        margin-left: 0;
        border-radius: 0; }
        .checkout__passport input[type=radio] + label::before {
          content: '';
          display: none; }
        .checkout__passport input[type=radio] + label::after {
          content: '';
          display: none; }
        .checkout__passport input[type=radio] + label ~ label {
          margin-left: 24px; }
      .checkout__passport input[type=radio]:checked + label {
        font-weight: 700;
        border-color: #242426; }
  .checkout__passportPass:checked ~ .checkout__row--pass {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .checkout__passportIdCard:checked ~ .checkout__row--idCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .checkout__widgetTitle {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 768px) {
      .checkout__widgetTitle {
        font-size: 14px; } }
  .checkout__widgetEnd {
    padding-top: 24px;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #7b7b7c; }
    .checkout__widgetEnd a {
      border-bottom: 1px dashed #7b7b7c;
      padding-bottom: 3px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      color: #7b7b7c; }
      .checkout__widgetEnd a:hover {
        border-color: transparent;
        text-decoration: none; }
  .checkoutCustomer {
    display: block; }
    .checkoutCustomer__nav {
      padding-top: 24px;
      margin-bottom: 24px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .checkoutCustomer__btn {
      border-bottom: 4px solid transparent;
      border-radius: 0;
      padding-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px; }
      @media (max-width: 768px) {
        .checkoutCustomer__btn {
          font-size: 12px; } }
      .checkoutCustomer__btn:not(:first-child) {
        margin-left: 48px; }
        @media (max-width: 992px) {
          .checkoutCustomer__btn:not(:first-child) {
            margin-left: 16px; } }
      .checkoutCustomer__btn--active {
        font-weight: 700;
        border-color: #242426; }
    .checkoutCustomer__form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .checkoutCustomer__recipient {
      padding-top: 8px;
      position: relative; }
      .checkoutCustomer__recipient label {
        position: relative;
        padding-left: 40px;
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px; }
        .checkoutCustomer__recipient label::before {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .checkoutCustomer__recipient label::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          border: 1px solid #7b7b7c;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 4px;
          opacity: 1;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        @media (max-width: 768px) {
          .checkoutCustomer__recipient label {
            font-size: 12px; } }
      .checkoutCustomer__recipient input {
        display: none; }
        .checkoutCustomer__recipient input:checked + label::before {
          content: '';
          opacity: 1; }
        .checkoutCustomer__recipient input:checked + label::after {
          content: '';
          opacity: 0; }
        .checkoutCustomer__recipient input:checked ~ .checkoutCashback__edit {
          display: block; }
  .checkoutDelivery {
    display: block; }
    .checkoutDelivery__type {
      padding-top: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .checkoutDelivery__type label {
        position: relative;
        padding-left: 40px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
        .checkoutDelivery__type label::before {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .checkoutDelivery__type label::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          border: 1px solid #7b7b7c;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 50%;
          opacity: 1;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        @media (max-width: 768px) {
          .checkoutDelivery__type label {
            font-size: 13px; } }
      .checkoutDelivery__type input {
        display: none; }
        .checkoutDelivery__type input:checked + label::before {
          content: '';
          opacity: 1; }
        .checkoutDelivery__type input:checked + label::after {
          content: '';
          opacity: 0; }
        .checkoutDelivery__type input:checked ~ input {
          display: block;
          width: 472px;
          margin-top: 16px;
          margin-left: 40px; }
          @media (max-width: 1199px) {
            .checkoutDelivery__type input:checked ~ input {
              margin-left: 0;
              width: 100%; } }
    .checkoutDelivery__cities {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .checkoutDelivery__cities span {
        display: block;
        border-bottom: 1px dashed #242426;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px; }
        .checkoutDelivery__cities span:not(:first-child) {
          margin-left: 16px; }
        .checkoutDelivery__cities span:hover {
          cursor: url("../img/icons/cursor_hand.svg"), auto; }
        @media (max-width: 768px) {
          .checkoutDelivery__cities span:last-child {
            display: none; } }
        @media (max-width: 768px) {
          .checkoutDelivery__cities span {
            font-size: 11px;
            font-weight: 800; } }
  .checkoutPayment {
    display: block; }
    .checkoutPayment__credit {
      display: none;
      padding-left: 40px; }
      @media (max-width: 768px) {
        .checkoutPayment__credit {
          padding-left: 0; } }
      .checkoutPayment__credit .dropdown {
        width: 472px; }
        @media (max-width: 768px) {
          .checkoutPayment__credit .dropdown {
            width: 100%; } }
        .checkoutPayment__credit .dropdown__title {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          @media (max-width: 768px) {
            .checkoutPayment__credit .dropdown__title {
              font-size: 12px;
              padding-left: 8px; } }
          @media (max-width: 355px) {
            .checkoutPayment__credit .dropdown__title {
              font-size: 10px; } }
          .checkoutPayment__credit .dropdown__title img {
            margin-right: 8px !important; }
        @media (max-width: 768px) {
          .checkoutPayment__credit .dropdown__list {
            padding-left: 8px; } }
        .checkoutPayment__credit .dropdown__list li {
          margin: 15px 0; }
          .checkoutPayment__credit .dropdown__list li span {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px; }
            @media (max-width: 768px) {
              .checkoutPayment__credit .dropdown__list li span {
                font-size: 12px; } }
          @media (max-width: 768px) {
            .checkoutPayment__credit .dropdown__list li img {
              margin-right: 8px; } }
          .checkoutPayment__credit .dropdown__list li:hover {
            cursor: url("../img/icons/cursor_hand.svg"), auto; }
            .checkoutPayment__credit .dropdown__list li:hover span {
              text-decoration: underline;
              cursor: url("../img/icons/cursor_hand.svg"), auto; }
            .checkoutPayment__credit .dropdown__list li:hover img {
              cursor: url("../img/icons/cursor_hand.svg"), auto; }
        .checkoutPayment__credit .dropdown label {
          padding-left: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .checkoutPayment__credit .dropdown label::before {
            content: '';
            display: none; }
          .checkoutPayment__credit .dropdown label::after {
            content: '';
            display: none; }
        .checkoutPayment__credit .dropdown input {
          display: none !important; }
        .checkoutPayment__credit .dropdown img {
          margin-right: 16px; }
    .checkoutPayment__type .input {
      width: 472px; }
      @media (max-width: 768px) {
        .checkoutPayment__type .input {
          width: 100%; } }
    .checkoutPayment__type input:checked ~ .checkoutPayment__credit {
      display: block; }
      .checkoutPayment__type input:checked ~ .checkoutPayment__credit input {
        display: block; }
    .checkoutPayment__creditPrice {
      display: block;
      margin-top: 8px;
      font-size: 20px;
      font-weight: 800;
      line-height: 24px; }
    .checkoutPayment .checkout__tooltip {
      padding: 8px 0 0 0; }
  .checkoutWidgetTools {
    position: relative; }
    .checkoutWidgetTools__promo {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      opacity: 0;
      pointer-events: none;
      padding-top: 8px;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .checkoutWidgetTools__promo button {
        font-size: 14px;
        padding: 3px 12px;
        width: auto;
        position: absolute;
        top: 11px;
        right: 4px; }
        @media (max-width: 768px) {
          .checkoutWidgetTools__promo button {
            font-size: 13px; } }
    .checkoutWidgetTools__price {
      padding: 16px 0 24px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: none; }
      .checkoutWidgetTools__price .preview__dis {
        margin-bottom: 0; }
      .checkoutWidgetTools__price span {
        font-size: 14px; }
    .checkoutWidgetTools__promoBtn {
      border-bottom: 1px dashed #242426;
      border-radius: 0;
      display: inline-block;
      margin: 0 0 24px 0;
      float: right;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      font-size: 12px;
      font-weight: 600;
      line-height: 24px; }
      .checkoutWidgetTools__promoBtn:hover {
        border-color: transparent; }
    .checkoutWidgetTools__write {
      display: none; }
      .checkoutWidgetTools__write:checked + label {
        opacity: 0;
        margin-bottom: 40px; }
      .checkoutWidgetTools__write:checked ~ .checkoutWidgetTools__promo {
        opacity: 1;
        pointer-events: auto; }
  .checkoutCashback {
    border: 2px solid #FFC830;
    padding: 24px 40px;
    margin-top: 24px; }
    @media (max-width: 992px) {
      .checkoutCashback {
        padding: 20px; } }
    .checkoutCashback__title {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; }
      @media (max-width: 768px) {
        .checkoutCashback__title {
          font-size: 14px; } }
      .checkoutCashback__title span {
        font-weight: 700;
        margin-left: 16px; }
        @media (max-width: 768px) {
          .checkoutCashback__title span {
            display: block;
            margin: 12px 0;
            font-size: 15px; } }
    .checkoutCashback__desc {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #7b7b7c; }
    .checkoutCashback__edit {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      width: 336px;
      margin-top: 16px;
      display: none; }
      @media (max-width: 992px) {
        .checkoutCashback__edit {
          width: 100%; } }
      .checkoutCashback__edit input {
        display: block; }
