.header--checkout {
  padding: 16px 0;
  border-bottom: 1px solid #c8c8c8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header--checkout img {
    width: 104px;
    height: 44px;
    -o-object-fit: contain;
       object-fit: contain; }
  .header--checkout .header__logo {
    padding-top: 0; }

.checkout {
  padding-top: 24px;
  position: relative; }
  .checkout__widget {
    position: absolute;
    top: 24px;
    right: 0;
    width: 376px; }
