.compare .main {
  padding-bottom: 80px; }
  .compare .main--compareFixed {
    padding-top: 696px; }

.compare__title {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.compare__del {
  position: absolute;
  top: 0;
  right: 0; }

.compare_scroll:hover {
  cursor: all-scroll; }

.compare h1 {
  margin-bottom: 0; }

.compare__add {
  position: relative;
  padding: 0 0 0 32px;
  border-radius: 0;
  border-bottom: 1px dashed transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media (max-width: 768px) {
    .compare__add {
      display: none; } }
  .compare__add:hover {
    border-color: #242426; }
  .compare__add::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 2px;
    margin-top: -1px;
    background: #242426; }
  .compare__add::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 2px;
    margin-top: -1px;
    background: #242426;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.compare__clear {
  margin-top: 40px;
  color: #D9214F;
  border-bottom: 1px dashed #D9214F;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px; }

.compareHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 768px) {
    .compareHeader {
      padding-left: calc((100% - 90%) / 2); } }
  .compareHeader__tools {
    min-width: 240px;
    padding-left: calc((100% - 1600px) / 2); }
    @media (max-width: 1600px) {
      .compareHeader__tools {
        padding-left: calc((100% - 90%) / 2); } }
    @media (max-width: 768px) {
      .compareHeader__tools {
        display: none; } }
  .compareHeader__viewsTitle {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
  .compareHeader__viewsItems label {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
  .compareHeader__products {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 50px 0 35px 50px;
    margin-left: -40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 536px; }
    @media (max-width: 768px) {
      .compareHeader__products {
        margin-left: 0;
        padding-left: 0;
        min-height: 1px;
        padding: 0 0 24px 0; } }
    .compareHeader__products .preview {
      margin-right: 32px; }
      @media (max-width: 768px) {
        .compareHeader__products .preview {
          min-width: 31%;
          margin-right: 12px; } }
      @media (max-width: 500px) {
        .compareHeader__products .preview {
          min-width: 48%; } }

.compareInner {
  position: relative;
  margin-left: calc((100% - 1600px) / 2); }
  @media (max-width: 1600px) {
    .compareInner {
      margin-left: calc((100% - 90%) / 2); } }
  .compareInner__names .productChars__title {
    z-index: 1; }
    @media (max-width: 768px) {
      .compareInner__names .productChars__title {
        padding-left: 0;
        display: block;
        text-align: center; } }
  .compareInner__names .productChars__list {
    width: 100%; }
  .compareInner__names .productChars__charTitle {
    width: 100%;
    max-width: 232px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
    @media (max-width: 768px) {
      .compareInner__names .productChars__charTitle {
        max-width: unset;
        text-align: center; } }
  @media (max-width: 768px) {
    .compareInner__names .productChars__char {
      margin-bottom: 54px;
      background: #fff;
      position: relative;
      z-index: 1; } }
  .compareInner__chars {
    position: absolute;
    top: 0;
    left: 430px;
    left: 282px;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    opacity: 0;
    max-height: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 1600px) {
      .compareInner__chars {
        left: 285px; } }
    @media (max-width: 992px) {
      .compareInner__chars {
        left: 245px; } }
    @media (max-width: 768px) {
      .compareInner__chars {
        left: 0;
        top: 55px; } }
    .compareInner__chars--open {
      max-height: 999px;
      opacity: 1; }
    .compareInner__chars .productChars__list {
      width: 232px; }
      @media (max-width: 768px) {
        .compareInner__chars .productChars__list {
          width: 100%; } }
    .compareInner__chars .productChars__char {
      padding: 18px 10px; }
      @media (max-width: 768px) {
        .compareInner__chars .productChars__char:not(:last-child) {
          margin-bottom: 54px;
          background: #F5F6F7; } }
  .compareInner__item {
    padding-top: 33px; }
    @media (max-width: 768px) {
      .compareInner__item {
        padding-top: 29px; } }
    .compareInner__item .productChars__charVal {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis; }
  .compareInner__col {
    margin-right: 32px; }
    @media (max-width: 768px) {
      .compareInner__col {
        width: 34%;
        min-width: 34%;
        margin-right: 0; } }
    @media (max-width: 500px) {
      .compareInner__col {
        width: 51%;
        min-width: 51%; } }

@media (max-width: 768px) {
  .compare__fixed {
    margin-bottom: 32px; } }

.compare__fixed--fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 2;
  padding-top: 24px;
  -webkit-animation: compare_fixed .4s;
          animation: compare_fixed .4s;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .compare__fixed--fixed {
      padding-top: 16px; } }
  .compare__fixed--fixed .compareHeader__products {
    padding: 0 0 24px 50px;
    min-height: 1px; }
    @media (max-width: 768px) {
      .compare__fixed--fixed .compareHeader__products {
        padding: 0 0 20px 0; } }
  .compare__fixed--fixed .compare__title {
    padding-bottom: 24px; }
    @media (max-width: 768px) {
      .compare__fixed--fixed .compare__title {
        display: none; } }
  .compare__fixed--fixed .preview {
    min-height: 1px;
    padding-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .compare__fixed--fixed .preview::before {
      content: '';
      display: none; }
    .compare__fixed--fixed .preview .preview__rating, .compare__fixed--fixed .preview .preview__dis, .compare__fixed--fixed .preview .preview__sticker {
      display: none; }
    .compare__fixed--fixed .preview .preview__thumb {
      max-width: 46px;
      height: auto; }
      @media (max-width: 768px) {
        .compare__fixed--fixed .preview .preview__thumb {
          margin-bottom: 8px; } }
    .compare__fixed--fixed .preview .preview__name {
      display: inline-block;
      width: calc(100% - 62px);
      margin-left: 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px; }
      @media (max-width: 768px) {
        .compare__fixed--fixed .preview .preview__name {
          font-size: 12px;
          line-height: 20px;
          width: 100%;
          height: 40px;
          margin: 0 0 8px 0; } }
    .compare__fixed--fixed .preview .preview__total {
      font-size: 20px;
      font-weight: 800;
      margin-top: 0; }
      @media (max-width: 768px) {
        .compare__fixed--fixed .preview .preview__total {
          font-weight: 700; } }
    .compare__fixed--fixed .preview .preview__price {
      margin-bottom: 8px;
      min-height: auto; }
    @media (max-width: 768px) {
      .compare__fixed--fixed .preview .preview__comp {
        display: none; } }
    @media (max-width: 768px) {
      .compare__fixed--fixed .preview .preview__wish {
        display: none; } }
    @media (max-width: 768px) {
      .compare__fixed--fixed .preview .preview__tools {
        width: 100%; } }
