.mainPage {
  overflow: hidden; }

@media (max-width: 768px) {
  .mainTop {
    padding-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.mainSlider {
  height: 440px;
  overflow: hidden; }
  @media (max-width: 1400px) {
    .mainSlider {
      height: 350px; } }
  @media (max-width: 1199px) {
    .mainSlider {
      height: 290px; } }
  @media (max-width: 992px) {
    .mainSlider {
      height: 235px; } }
  @media (max-width: 768px) {
    .mainSlider {
      height: 160px; } }
  .mainSlider__inner .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    right: 40px;
    bottom: unset;
    left: unset;
    width: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .mainSlider__inner .slick-dots li {
      margin-bottom: 10px; }
      .mainSlider__inner .slick-dots li button {
        position: relative; }
        .mainSlider__inner .slick-dots li button::before {
          color: #FFC830;
          width: 24px;
          height: 24px;
          opacity: 1; }
      .mainSlider__inner .slick-dots li.slick-active .progressCircle {
        display: block;
        position: absolute;
        top: 0;
        left: 0; }
        .mainSlider__inner .slick-dots li.slick-active .progressCircle__mask .fill {
          clip: rect(0px, 12px, 24px, 0px);
          background: -o-radial-gradient(transparent 9px, #FFC830 10px);
          background: radial-gradient(transparent 9px, #FFC830 10px); }
      .mainSlider__inner .slick-dots li.slick-active button::before {
        font-size: 12px;
        color: #fff;
        display: none; }
  .mainSlider__item {
    border-radius: 12px; }
    .mainSlider__item img {
      width: 100%;
      height: 440px;
      -o-object-fit: contain;
         object-fit: contain;
      border-radius: 12px; }
      @media (max-width: 1400px) {
        .mainSlider__item img {
          height: 350px; } }
      @media (max-width: 1199px) {
        .mainSlider__item img {
          height: 290px; } }
      @media (max-width: 992px) {
        .mainSlider__item img {
          height: 235px; } }
      @media (max-width: 768px) {
        .mainSlider__item img {
          height: 160px; } }

.related {
  padding: 64px 0 32px 0;
  width: 1740px;
  margin: 0 auto;
  overflow: hidden; }
  @media (max-width: 1750px) {
    .related {
      width: 100%; } }
  @media (max-width: 768px) {
    .related {
      padding: 40px 0; } }
  .related__title {
    position: relative; }
  .related__items {
    margin: 0 32px; }
  .related__prods {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .related__prods {
        padding: 24px 0 0 0; } }
    .related__prods .preview__item {
      margin-right: 32px; }
      @media (max-width: 768px) {
        .related__prods .preview__item {
          margin-right: 12px; }
          .related__prods .preview__item.slick-active {
            -webkit-transition: margin 0.5s;
            -o-transition: margin 0.5s;
            transition: margin 0.5s; }
            .related__prods .preview__item.slick-active + div {
              margin: 0 0 0 12px !important; } }
  .related .slick-list {
    overflow: visible; }
  .related .preview__item {
    opacity: 1; }
    .related .preview__item:not(.slick-active) {
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s; }
  .related .slick-prev, .related .slick-next {
    position: static;
    width: auto;
    padding: 0 5px; }
    .related .slick-prev::before, .related .slick-next::before {
      content: '';
      opacity: 1; }
    .related .slick-prev:hover, .related .slick-next:hover {
      -webkit-filter: drop-shadow(0px 0px 0px black);
              filter: drop-shadow(0px 0px 0px black); }
  .related .slick-prev {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .related .slick-next {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }

.specials {
  background: #F5F6F7;
  padding: 48px 0 72px 0; }
  @media (max-width: 768px) {
    .specials {
      padding: 24px 0 16px 0; } }
  .specials__list {
    padding-top: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .specials__list {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding-bottom: 24px; } }
  @media (max-width: 1600px) {
    .specials__item:not(:last-child) {
      margin-right: 20px; } }
  @media (max-width: 1600px) and (max-width: 768px) {
    .specials__item:not(:last-child) {
      margin-right: 0; } }
  .specials__item a {
    display: block; }
    .specials__item a img {
      display: block;
      border-radius: 10px;
      width: 100%; }
  @media (max-width: 1199px) {
    .specials__item--medium {
      display: none; } }
  @media (max-width: 1199px) {
    .specials__item--small + .specials__item--small {
      margin-right: 0; } }
  @media (max-width: 768px) {
    .specials__item--small {
      width: 48.5%; } }
  @media (max-width: 768px) {
    .specials__item--big {
      width: 100%;
      margin-bottom: 12px; } }
  @media (max-width: 768px) {
    .specials__title .title__subtitle {
      display: none; } }
  .specials__all {
    display: none;
    text-align: center; }
    @media (max-width: 768px) {
      .specials__all {
        display: block; } }

.populars {
  padding: 48px 0 80px 0; }
  @media (max-width: 768px) {
    .populars {
      padding: 40px 0; } }
  .populars__title {
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .populars__title {
        margin-bottom: 16px; } }
  .populars__img {
    margin-right: 30px; }
    @media (max-width: 1199px) {
      .populars__img {
        margin-right: 0;
        width: 100%; }
        .populars__img img {
          width: 100%; } }
  .populars__item, .populars__prods {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .populars__item:not(:last-child) {
    padding-bottom: 80px; }
    @media (max-width: 768px) {
      .populars__item:not(:last-child) {
        padding-bottom: 40px; } }
  .populars__item--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .populars__item--reverse .populars__img {
      margin-right: 0;
      margin-left: 30px; }
      @media (max-width: 1199px) {
        .populars__item--reverse .populars__img {
          margin-left: 0; } }
  @media (max-width: 1199px) {
    .populars__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .populars .preview {
    width: 100%; }
    @media (max-width: 1750px) {
      .populars .preview {
        max-width: 240px; } }
    @media (max-width: 1600px) {
      .populars .preview + div {
        margin-right: 0 !important; }
      .populars .preview:last-child {
        display: none; } }
    @media (max-width: 1199px) {
      .populars .preview:last-child {
        display: block; }
      .populars .preview + div {
        margin-right: 10px !important; } }
    .populars .preview:not(:last-child) {
      margin-right: 32px; }
      @media (max-width: 1199px) {
        .populars .preview:not(:last-child) {
          margin-right: 15px; } }
    @media (max-width: 1199px) {
      .populars .preview:last-child {
        margin-right: 0 !important; } }
    @media (max-width: 768px) {
      .populars .preview:last-child {
        display: none; } }
  @media (max-width: 1199px) {
    .populars__prods {
      padding-top: 24px;
      width: 100%; } }

.brands {
  padding-bottom: 64px; }
  @media (max-width: 768px) {
    .brands {
      padding-bottom: 72px; } }
  .brands__title {
    margin-bottom: 64px; }
    @media (max-width: 768px) {
      .brands__title {
        margin-bottom: 0; } }
  .brands__items {
    max-height: 115px;
    overflow: hidden; }
    .brands__items a {
      height: 115px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: flex !important;
      pointer-events: none; }
      @media (max-width: 768px) {
        .brands__items a {
          padding: 0 20px; } }
  @media (max-width: 768px) {
    .brands__title .title__subtitle {
      display: none; } }
  .brands__all {
    display: none;
    text-align: center; }
    @media (max-width: 768px) {
      .brands__all {
        display: block; } }

.seo {
  border-top: 1px solid #c8c8c8;
  padding-top: 64px; }
  @media (max-width: 768px) {
    .seo {
      padding-top: 24px; } }
  .seo__inner {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
    @media (max-width: 768px) {
      .seo__inner {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
        position: relative;
        -webkit-transition: max-height 2s;
        -o-transition: max-height 2s;
        transition: max-height 2s; } }
    @media (max-width: 768px) {
      .seo__inner--closed {
        max-height: 160px;
        overflow: hidden; }
        .seo__inner--closed::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 20px;
          background: rgba(255, 255, 255, 0.55); } }
    @media (max-width: 768px) {
      .seo__inner--opened {
        max-height: 2000px; } }
    .seo__inner p {
      -webkit-column-break-inside: avoid;
         -moz-column-break-inside: avoid;
              break-inside: avoid;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #242426; }
      .seo__inner p:not(:first-child) {
        margin: 25px 0; }
        @media (max-width: 768px) {
          .seo__inner p:not(:first-child) {
            margin: 10px 0; } }
  .seo__readAll {
    display: none;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: #242426; }
    @media (max-width: 768px) {
      .seo__readAll {
        display: block; }
        .seo__readAll:hover {
          text-decoration: none; } }
