.orders {
  padding-bottom: 104px; }
  @media (max-width: 768px) {
    .orders {
      padding-bottom: 10px; } }
  .orders .main {
    padding-left: 32px; }
    @media (max-width: 992px) {
      .orders .main {
        padding-left: 0; } }
  .orders .content {
    -webkit-box-align: unset;
    -webkit-align-items: unset;
        -ms-flex-align: unset;
            align-items: unset; }
  .orders__tab {
    display: none;
    -webkit-animation: fadeIn 1.5s;
            animation: fadeIn 1.5s; }
    .orders__tab--active {
      display: block; }
  .orders__orders {
    max-width: 920px; }
  .orders .product__nav {
    width: 100%; }
  .orders .product__btn:not(:last-child) {
    margin-right: 48px; }
    @media (max-width: 768px) {
      .orders .product__btn:not(:last-child) {
        margin-right: 16px; } }
  .orders__item {
    padding: 24px 0;
    border-bottom: 1px solid #c8c8c8; }
    @media (max-width: 768px) {
      .orders__item {
        padding: 16px 0; } }
  .orders__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .orders__left {
    width: 100%;
    max-width: 272px; }
    @media (max-width: 1199px) {
      .orders__left {
        max-width: 210px; } }
  .orders__date {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c; }
  .orders__status {
    position: relative;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
    .orders__status::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      background: #7b7b7c;
      border-radius: 50%; }
    .orders__status--completed::before {
      content: '';
      background: #1B891B; }
    .orders__status--canceled::before {
      content: '';
      background: #f00; }
    .orders__status--inwork::before {
      content: '';
      background: #FFC830; }
  .orders__center {
    width: 100%;
    max-width: 500px;
    position: relative;
    padding-left: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 992px) {
      .orders__center {
        max-width: 100%; } }
    @media (max-width: 768px) {
      .orders__center {
        display: none; } }
  .orders__thumb {
    max-width: 40px;
    position: absolute;
    top: 0;
    left: 0; }
  .orders__name {
    margin: 0 20px 0 0;
    width: 100%; }
    @media (max-width: 768px) {
      .orders__name {
        max-height: 60px;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px; } }
  .orders__price {
    white-space: nowrap;
    margin-right: 20px; }
    @media (max-width: 768px) {
      .orders__price {
        margin-right: 0; } }
  .orders__right {
    margin-left: auto;
    opacity: 0.6;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
    .orders__right--open {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .orders__detail {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    @media (max-width: 768px) {
      .orders__detail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .orders__detail .orders__left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 768px) {
        .orders__detail .orders__left {
          max-width: 100%;
          padding-bottom: 24px; } }
    @media (max-width: 768px) {
      .orders__detail .orders__center {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0; } }
    .orders__detail .orders__right {
      opacity: 0;
      pointer-events: none; }
    .orders__detail--open {
      opacity: 1;
      max-height: 999px;
      padding-top: 24px; }
      @media (max-width: 768px) {
        .orders__detail--open {
          padding-top: 16px; } }
  .orders__ttn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
    @media (max-width: 768px) {
      .orders__ttn {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px; } }
  .orders__table {
    width: 100%; }
  .orders__row {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .orders__row {
        font-size: 12px;
        line-height: 20px; } }
    .orders__row:not(:last-child) {
      margin-bottom: 8px; }
  .orders__key {
    color: #7b7b7c; }
    @media (max-width: 768px) {
      .orders__key {
        width: 50%; } }
  .orders__val--price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 768px) {
      .orders__val--price {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .orders__priceSingle {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; }
    @media (max-width: 768px) {
      .orders__priceSingle {
        margin-left: auto;
        font-size: 15px;
        font-weight: 600; } }
  .orders__quantly {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
    @media (max-width: 768px) {
      .orders__quantly {
        margin-left: auto;
        min-width: 25%;
        text-align: right; } }
  .orders__priceTotal {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; }
    @media (max-width: 768px) {
      .orders__priceTotal {
        font-size: 15px;
        font-weight: 600;
        margin-left: auto; } }
  .orders__titleMob {
    display: none; }
    @media (max-width: 768px) {
      .orders__titleMob {
        display: block;
        padding-left: 56px !important;
        margin-top: 16px; } }
  @media (max-width: 768px) {
    .orders__add {
      display: none; } }
