.product h1 {
  margin-bottom: 12px; }

.product main {
  padding-top: 16px;
  position: relative; }

.product__nav {
  border-bottom: 1px solid #c8c8c8;
  width: calc(100% - 544px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.product__info {
  padding: 64px 0 48px 0;
  min-height: 500px;
  border-bottom: 1px solid #c8c8c8;
  width: calc(100% - 544px);
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.product__tabs {
  position: relative;
  width: calc(100% - 544px);
  min-height: 777px; }

.product__tab {
  min-height: 200px;
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s; }
  .product__tab--abs {
    display: none; }
  .product__tab--active {
    display: block; }

.product__btn {
  position: relative;
  border-radius: 0;
  padding: 0 0 11px 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }
  .product__btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #242426;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .product__btn:not(:last-child) {
    margin-right: 64px; }
  .product__btn--active {
    font-weight: 700; }
    .product__btn--active::after {
      content: '';
      opacity: 1; }

.product__slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .product__slider::after {
    content: '';
    display: block;
    clear: both; }

.product__thumbNav {
  max-width: 104px;
  margin-right: 32px; }
  .product__thumbNav img {
    max-width: 104px;
    max-height: 104px;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .product__thumbNav img.slick-current {
      border-color: #FFC830; }
    .product__thumbNav img:not(:last-child) {
      margin-bottom: 10px; }

.product__thumb {
  max-width: 376px !important; }

.product__details {
  margin-left: 32px; }

.product__short h6 {
  margin-bottom: 16px; }

.product__short p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }

.product__option {
  margin-top: 42px; }
  .product__option--color label {
    width: 80px;
    height: 80px; }

.product__optionTitle {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .product__optionTitle h6 {
    margin-right: 8px; }
  .product__optionTitle span {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }

.product__optionItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.product__optionItem:not(:last-child) {
  margin-right: 16px; }

.product__optionItem label {
  padding: 12px;
  border: 2px solid #c8c8c8;
  border-radius: 2px;
  display: block;
  width: 80px;
  height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; }
  .product__optionItem label img {
    -o-object-fit: contain;
       object-fit: contain; }

.product__optionItem input {
  display: none; }
  .product__optionItem input:checked + label {
    border-color: #FFC830; }

.product__optionItem span {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; }

.product__option--color label {
  width: 80px;
  height: 80px; }

.productWidget {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  width: 376px;
  border: 2px solid #FFC830;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 8px rgba(36, 36, 38, 0.25);
          box-shadow: 0px 4px 8px rgba(36, 36, 38, 0.25);
  border-radius: 4px;
  padding: 32px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }
  .productWidget__top {
    padding: 0 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .productWidget__top .preview__price {
      margin-bottom: 12px; }
  .productWidget__reward {
    margin-bottom: 24px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1B891B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .productWidget__reward::before {
      content: '';
      -webkit-box-shadow: inset 0 0 0 4px #fff;
              box-shadow: inset 0 0 0 4px #fff;
      margin: 0 8px 0 -4px; }
  .productWidget__tools {
    margin-bottom: 16px;
    padding: 0 32px; }
  .productWidget__cashback {
    padding: 16px 32px;
    border-top: 1px solid #c8c8c8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productWidget__cashbackTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
    .productWidget__cashbackTitle::before {
      content: '';
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-transform-origin: 0;
          -ms-transform-origin: 0;
              transform-origin: 0; }
  .productWidget__cashbackVal {
    font-weight: 600; }
  .productWidget__credit {
    border-top: 1px solid #c8c8c8;
    padding: 24px 32px; }
    .productWidget__credit p span {
      font-weight: 700; }
  .productWidget__btnCredit {
    width: 131px;
    height: 32px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px; }
  .productWidget__delivery {
    border-top: 1px solid #c8c8c8;
    padding: 24px 32px; }
  .productWidget__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .productWidget__item:not(:last-child) {
      margin-bottom: 24px; }
    .productWidget__itemImg {
      width: 100%; }
  .productWidget__delVal {
    font-weight: 600; }
  .productWidget__social {
    border-top: 1px solid #c8c8c8;
    padding: 32px; }

.productDescription {
  padding-top: 64px; }
  .productDescription__content {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .productDescription__content::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
      background: -o-linear-gradient(bottom, #fff, transparent);
      background: linear-gradient(to top, #fff, transparent);
      opacity: 1;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      -webkit-transition: opacity 1s .5s;
      -o-transition: opacity 1s .5s;
      transition: opacity 1s .5s; }
    .productDescription__content--open {
      max-height: 9999px; }
      .productDescription__content--open::after {
        content: '';
        opacity: 0;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s; }
  .productDescription__btn {
    margin: 10px auto 0 auto;
    width: 240px; }
    .productDescription__btn::before {
      content: '';
      display: none; }

.productChars {
  padding-top: 48px; }
  .productChars h2 {
    margin-bottom: 32px; }
  .productChars__item {
    margin-bottom: 24px; }
  .productChars__title {
    padding: 0 0 8px 32px;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    width: 100%;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .productChars__title::before {
      content: '';
      margin-right: 20px;
      -webkit-transform: rotate(90deg) scale(0.8);
          -ms-transform: rotate(90deg) scale(0.8);
              transform: rotate(90deg) scale(0.8);
      position: absolute;
      left: 0;
      top: 4px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .productChars__title--open::before {
      content: '';
      -webkit-transform: rotate(-90deg) scale(0.8);
          -ms-transform: rotate(-90deg) scale(0.8);
              transform: rotate(-90deg) scale(0.8); }
  .productChars__list {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .productChars__list--open {
      max-height: 999px;
      opacity: 1; }
  .productChars__char {
    padding: 18px 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .productChars__char:nth-child(even) {
      background: #F5F6F7; }
  .productChars__charTitle {
    width: 50%; }
  .productChars__charVal {
    width: 50%;
    font-weight: 500; }

.productTest {
  padding-top: 48px; }
  .productTest__toolbar {
    margin: 32px 0 16px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productTest__anc {
    width: 151px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; }
    .productTest__anc::before {
      content: '';
      display: none; }
  .productTest__list {
    margin-bottom: 32px; }
  .productTest__item {
    border-radius: 4px;
    border: 1px solid #c8c8c8; }
    .productTest__item:nth-child(odd) {
      background: #F5F6F7;
      border: 0; }
  .productTest__ans {
    background: #fff;
    padding: 26px 24px 26px 48px;
    position: relative;
    margin-bottom: 34px; }
    .productTest__ans::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 24px;
      width: 2px;
      background: #c8c8c8;
      border-radius: 10px; }
    .productTest__ans::after {
      content: '';
      width: 12px;
      height: 12px;
      border: 2px solid #c8c8c8;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 24px;
      margin-left: -7px;
      background: #fff; }
  .productTest__que {
    padding: 26px 24px 49px 24px; }
  .productTest__title {
    padding-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productTest__author {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .productTest__date {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c; }
  .productTest__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
  .productTest__pagination {
    padding: 0 0 40px 0; }
  .productTest__addTitle {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px; }
  .productTest__form {
    padding-top: 24px; }
    .productTest__form input {
      width: 49%;
      text-align: left;
      padding-left: 16px; }
      .productTest__form input[name=rating] {
        display: none; }
    .productTest__form textarea {
      width: 100%;
      text-align: left;
      padding: 8px 0 0 16px;
      min-height: 104px;
      resize: none; }
  .productTest__row {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productTest__rate {
    margin-left: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productTest__rateComment {
    margin-left: 24px;
    font-size: 18px;
    font-weight: 400; }
  .productTest__rateItem {
    margin-right: 10px; }
    .productTest__rateItem label {
      display: inline-block;
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
    .productTest__rateItem--active ~ .productTest__rateItem label::before {
      content: '';
      background: url(../img/icons/star_e.svg) no-repeat; }
  .productTest__btn {
    display: inline-block;
    width: 216px; }
    .productTest__btn:hover {
      background: #FFC830;
      text-decoration: underline; }

.productQuest__anc {
  width: 171px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; }
  .productQuest__anc::before {
    content: '';
    display: none; }

.productRelated {
  padding-top: 48px;
  width: 100%; }
  .productRelated h2 {
    margin-bottom: 32px; }
  .productRelated__products--slider {
    width: 100%; }
