.success {
  padding-bottom: 168px; }
  @media (max-width: 768px) {
    .success {
      padding-bottom: 24px; } }
  .success__content {
    max-width: 562px; }
    .success__content p {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px; }
      @media (max-width: 768px) {
        .success__content p {
          font-size: 12px; } }
  .success__btn {
    display: block;
    margin-top: 40px;
    width: 100%;
    max-width: 336px; }
    @media (max-width: 768px) {
      .success__btn {
        max-width: 200px;
        margin-top: 24px;
        font-size: 14px; } }
