$primaryTextColor: #555;
$linkHoverColor: #5363db;
$btnHoverColor: #061ecc;
$logoTextColor: #5363db;
$primaryColor: #5b6ceb;
$mainFont: 'OpenSans';
$mainFont-Sb: 'OpenSans-Sb';
$font2: 'ChampagneLimousines';
$font3: 'FreestyleScript';
$defaultFontSize: 14px;
$defaultFontWeight: 400;
$defaultWrapper: 1170px;
$icons: '../img/icons/icons_sprite.png';


%flex-row {
	display: flex;
	flex-wrap: wrap;
}
%flex-col {
	display: flex;
	flex-direction: column;
}
%transitionAll {
	transition: all .2s;
}
%transitionAll-4 {
	transition: all .10s;
}