html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #242426; }

a {
  color: #000;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    text-decoration: underline;
    cursor: url("../img/icons/cursor_hand.svg"), auto; }

h1 {
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; }

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; }

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; }

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

.container {
  width: 1600px;
  margin: 0 auto; }

.input {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(36, 36, 38, 0.25); }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #242426;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .btn:hover {
    cursor: pointer; }

.cursor:hover {
  cursor: url("../img/icons/cursor_hand.svg"), auto; }

.scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: rgba(0, 0, 0, 0); }

.scroll::-webkit-scrollbar-thumb {
  background: #FFC830; }

.scroll::-webkit-scrollbar-track-piece {
  margin: 15px 0; }

.close {
  background: transparent; }
  .close img {
    display: block; }
