html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #242426;
  overflow-x: hidden; }
  body.column {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    body.column .footer {
      margin-top: auto; }

a {
  color: #242426;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    text-decoration: underline;
    cursor: url("../img/icons/cursor_hand.svg"), auto; }

img {
  max-width: 100%; }

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; }
  @media (max-width: 768px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; }

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

button {
  font-family: "Montserrat"; }

.main {
  width: 100%; }
  .main.mainPage {
    padding-bottom: 48px; }
  .main--left {
    width: calc(100% - 268px);
    padding-left: 20px; }
    @media (max-width: 992px) {
      .main--left {
        width: 100%;
        padding: 30px 0; } }
    @media (max-width: 1600px) {
      .main--left .products--grid {
        grid-template-columns: repeat(4, 240px); } }
    @media (max-width: 1460px) {
      .main--left .products--grid {
        grid-template-columns: repeat(4, 22%); } }
    @media (max-width: 1199px) {
      .main--left .products--grid {
        grid-template-columns: repeat(3, 30%); } }
    @media (max-width: 500px) {
      .main--left .products--grid {
        grid-template-columns: repeat(2, 1fr); } }
  .main--right {
    width: calc(100% - 376px);
    padding-right: 20px; }
    @media (max-width: 1199px) {
      .main--right {
        width: calc(100% - 268px); } }
    @media (max-width: 992px) {
      .main--right {
        width: 100%;
        padding: 30px 0; } }
    .main--right .products--grid {
      grid-template-columns: repeat(4, 240px); }
      @media (max-width: 1600px) {
        .main--right .products--grid {
          grid-template-columns: repeat(3, 240px); } }
      @media (max-width: 1460px) {
        .main--right .products--grid {
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
          grid-template-columns: repeat(3, 30%); } }
      @media (max-width: 1199px) {
        .main--right .products--grid {
          grid-template-columns: repeat(2, 240px); } }
      @media (max-width: 992px) {
        .main--right .products--grid {
          grid-template-columns: repeat(3, 30%);
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 500px) {
        .main--right .products--grid {
          grid-template-columns: repeat(2, 1fr); } }
  .main--short {
    width: calc(100% - 644px);
    padding: 0 20px; }
    @media (max-width: 992px) {
      .main--short {
        width: 100%;
        padding: 30px 0; } }
    .main--short .products--grid {
      grid-template-columns: repeat(3, 30%); }
      @media (max-width: 1600px) {
        .main--short .products--grid {
          grid-template-columns: repeat(2, 240px);
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around; } }
      @media (max-width: 1460px) {
        .main--short .products--grid {
          grid-template-columns: repeat(2, 50%);
          grid-gap: 10px;
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around; } }
      @media (max-width: 1199px) {
        .main--short .products--grid {
          grid-template-columns: repeat(1, 1fr); } }
      @media (max-width: 992px) {
        .main--short .products--grid {
          grid-template-columns: repeat(3, 30%);
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 500px) {
        .main--short .products--grid {
          grid-template-columns: repeat(2, 1fr); } }
    .main--short .category__pag, .main--short .category__view {
      display: none; }
    .main--short .category__sort {
      width: 100%; }
      @media (max-width: 1199px) {
        .main--short .category__sort {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media (max-width: 992px) {
        .main--short .category__sort {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 768px) {
        .main--short .category__sort {
          width: 49%; } }
    @media (max-width: 1199px) {
      .main--short .category__sortType {
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%; } }
    @media (max-width: 992px) {
      .main--short .category__sortType {
        width: 49%;
        margin-bottom: 0; } }
    @media (max-width: 768px) {
      .main--short .category__sortType {
        width: 100%; } }
    @media (max-width: 1199px) {
      .main--short .category__sortQua {
        width: 100%; } }
    @media (max-width: 992px) {
      .main--short .category__sortQua {
        width: 49%; } }
    @media (max-width: 1600px) {
      .main--short .preview {
        max-width: 100% !important; } }

.sidebar.left {
  width: 268px; }
  @media (max-width: 992px) {
    .sidebar.left {
      width: 100%; } }

.sidebar.right {
  width: 376px;
  height: 100vh;
  background: #FFC830; }
  @media (max-width: 1199px) {
    .sidebar.right {
      width: 268px; } }
  @media (max-width: 992px) {
    .sidebar.right {
      width: 100%; } }

.container {
  width: 1600px;
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .container {
      width: 90%; } }

.inner {
  padding-top: 16px; }
  .inner h1 {
    margin-bottom: 24px; }

.content {
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 992px) {
    .content {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.dropdown {
  width: 240px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; }
  .dropdown::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 15px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  @media (max-width: 1400px) {
    .dropdown {
      width: 200px; } }
  .dropdown:hover {
    cursor: url("../img/icons/cursor_hand.svg"), auto; }
  .dropdown__title {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 8px 30px 8px 16px; }
  .dropdown__list {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #c8c8c8;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 8px 30px 8px 16px;
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .dropdown__list li {
      margin: 5px 0; }
  .dropdown--open::before {
    content: '';
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .dropdown--open .dropdown__title {
    border-radius: 4px 4px 0 0; }
  .dropdown--open .dropdown__list {
    opacity: 1;
    max-height: 999px; }

.input {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(36, 36, 38, 0.25);
  width: 40px;
  height: 40px;
  border: 1px solid #c8c8c8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #242426; }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #242426;
  background: transparent;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media (max-width: 1460px) {
    .btn {
      font-size: 12px;
      white-space: nowrap; } }
  @media (max-width: 768px) {
    .btn {
      font-size: 15px;
      font-weight: 600; } }
  .btn:hover {
    cursor: pointer; }
  .btn--yellow {
    background: #FFC830;
    padding: 11px 0;
    width: 100%;
    text-align: center;
    border: 2px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .btn--yellow:hover {
      text-decoration: none;
      border-color: #FFC830;
      background: #fff; }
  .btn--buy {
    border: 2px solid #FFC830;
    width: 144px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .btn--buy::before {
      content: '';
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      margin-right: 8px; }
    .btn--buy:hover {
      background: #FFC830; }
    @media (max-width: 768px) {
      .btn--buy {
        width: 100%; } }
  .btn--wait {
    border: 2px solid rgba(36, 36, 38, 0.5);
    width: 144px;
    height: 48px;
    color: rgba(36, 36, 38, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .btn--wait::before {
      content: '';
      display: none !important; }
    .btn--wait:hover {
      cursor: no-drop !important; }
    @media (max-width: 768px) {
      .btn--wait {
        width: 100%; } }
  .btn--inCart {
    color: #1B891B;
    border-color: transparent; }
    .btn--inCart::before {
      content: '';
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .btn--inCart:hover {
      background: transparent; }
    .btn--inCart span {
      border-bottom: 1px dashed #2373E3; }
  .btn--filter {
    display: none; }
    @media (max-width: 768px) {
      .btn--filter {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 49%;
        font-size: 15px;
        font-weight: 600;
        line-height: 24px; } }

.cursor:hover {
  cursor: url("../img/icons/cursor_hand.svg"), auto; }

.scroll::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background: transparent; }

.scroll::-webkit-scrollbar-thumb {
  background: #FFC830; }

.scroll--catalog::-webkit-scrollbar {
  width: 3px;
  background: #c8c8c8; }

.close {
  background: transparent; }
  .close img {
    display: block; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
  .modal__win {
    position: relative;
    width: 100%;
    max-width: 1056px;
    background: #fff;
    padding: 32px 24px; }
    @media (max-width: 768px) {
      .modal__win {
        max-height: 100vh;
        overflow: auto; } }
  .modal__close {
    position: absolute;
    top: 32px;
    right: 24px; }

.quantly {
  width: 100%;
  max-width: 104px; }
  .quantly form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .quantly .minus, .quantly .plus {
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative; }
    .quantly .minus::before, .quantly .plus::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px; }
  .quantly .minus::before {
    content: '';
    background: #c8c8c8; }
  .quantly input {
    width: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #242426; }
  .quantly .plus::before {
    content: '';
    background: #242426; }
  .quantly .plus::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
    background: #242426;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .title {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 768px) {
    .title__title {
      margin-bottom: 8px; } }
  .title__arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .title__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #242426; }
    @media (max-width: 768px) {
      .title__subtitle {
        font-size: 15px; } }

.progressCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: none; }
  .progressCircle .full, .progressCircle .fill {
    -webkit-animation: fill ease-in-out 4700ms;
            animation: fill ease-in-out 4700ms;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .progressCircle__inside {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: -o-radial-gradient(#fff 6px, transparent 7px);
    background: radial-gradient(#fff 6px, transparent 7px);
    text-align: center;
    position: absolute;
    z-index: 1; }
  .progressCircle__mask, .progressCircle__inner .fill {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%; }
  .progressCircle__mask {
    clip: rect(0px, 24px, 30px, 12px); }
  .progressCircle__mask .fill {
    clip: rect(0px, 12px, 24px, 0px); }
  .progressCircle--100 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .progressCircle--100 .full, .progressCircle--100 .fill {
      -webkit-animation: fill ease-in-out 1s;
              animation: fill ease-in-out 1s; }

@-webkit-keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes fill {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

.added::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/added.svg");
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0; }

.breadcrumbs {
  border-top: 1px solid #c8c8c8;
  padding-top: 16px; }
  @media (max-width: 768px) {
    .breadcrumbs {
      border-top: none; } }
  .breadcrumbs ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumbs ul li {
      margin-right: 16px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .breadcrumbs ul li::before {
        content: '';
        opacity: .6; }
      @media (max-width: 768px) {
        .breadcrumbs ul li {
          margin-right: 11px; } }
      .breadcrumbs ul li a {
        margin-right: 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #7b7b7c; }
        @media (max-width: 768px) {
          .breadcrumbs ul li a {
            font-size: 12px;
            line-height: 20px; } }
  .breadcrumbs__from::after {
    content: '';
    display: block;
    width: 16px;
    height: 14px;
    background-image: url("../img/icons/ic_home.svg");
    background-size: contain;
    margin-right: 8px; }
  .breadcrumbs__to {
    pointer-events: none; }
