html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #242426;
  padding-bottom: 500px; }

a {
  color: #242426;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    text-decoration: underline;
    cursor: url("../img/icons/cursor_hand.svg"), auto; }

img {
  max-width: 100%; }

h1 {
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; }

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; }

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; }

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

button {
  font-family: "Montserrat"; }

.container {
  width: 1600px;
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .container {
      width: 90%; } }

.input {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(36, 36, 38, 0.25); }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7b7b7c;
    color: #7b7b7c; }

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #242426;
  background: transparent;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .btn:hover {
    cursor: pointer; }
  .btn--yellow {
    background: #FFC830;
    padding: 11px 0;
    width: 100%;
    text-align: center;
    border: 2px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .btn--yellow:hover {
      text-decoration: none;
      border-color: #FFC830;
      background: #fff; }
  .btn--buy {
    border: 2px solid #FFC830;
    border-radius: 4px;
    width: 144px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .btn--buy::before {
      content: '';
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      margin-right: 8px; }
    .btn--buy:hover {
      background: #FFC830; }

.cursor:hover {
  cursor: url("../img/icons/cursor_hand.svg"), auto; }

.scroll::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background: transparent; }

.scroll::-webkit-scrollbar-thumb {
  background: #FFC830; }

.scroll--catalog::-webkit-scrollbar {
  width: 3px;
  background: #c8c8c8; }

.close {
  background: transparent; }
  .close img {
    display: block; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
  .modal__win {
    position: relative;
    width: 100%;
    max-width: 1056px;
    background: #fff;
    padding: 32px 24px; }
    @media (max-width: 768px) {
      .modal__win {
        max-height: 100vh;
        overflow: auto; } }
  .modal__close {
    position: absolute;
    top: 32px;
    right: 24px; }

.quantly {
  width: 100%;
  max-width: 104px; }
  .quantly form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .quantly .minus, .quantly .plus {
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative; }
    .quantly .minus::before, .quantly .plus::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px; }
  .quantly .minus::before {
    content: '';
    background: #c8c8c8; }
  .quantly input {
    width: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #242426; }
  .quantly .plus::before {
    content: '';
    background: #242426; }
  .quantly .plus::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
    background: #242426;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #242426; }

.products--grid .preview {
  width: 20%;
  max-width: 240px; }

.preview::before {
  content: '';
  opacity: 0;
  -webkit-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s; }

.preview:hover {
  position: relative;
  z-index: 1; }
  .preview:hover::before {
    content: '';
    position: absolute;
    top: -48px;
    right: -48px;
    bottom: -32px;
    left: -48px;
    background: #fff;
    border: 2px solid #FFC830;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index: -1;
    opacity: 1; }

.preview__sticker {
  display: none;
  position: absolute;
  top: 27px;
  width: 104px;
  height: 38px;
    height-border-radius: 10px; }
  .preview__sticker::before {
    content: '';
    display: block;
    width: 104px;
    height: 38px;
    position: absolute;
    background: #7341D9;
    -webkit-transform: skew(14deg, -4deg);
        -ms-transform: skew(14deg, -4deg);
            transform: skew(14deg, -4deg);
    border-radius: 10px; }

.preview__thumb {
  width: 232px;
  height: 240px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.preview__name {
  display: block;
  margin-bottom: 20px;
  height: 72px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.preview__rating {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.preview__stars {
  margin-right: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .preview__stars i {
    margin-right: 2px; }

.preview__ratingTotal {
  font-size: 12px;
  font-weight: 600; }

.preview__price {
  margin-bottom: 20px; }

.preview__dis {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.preview__perc {
  display: inline-block;
  background: #D9214F;
  border-radius: 2px;
  padding: 0 8px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff; }

.preview__spec {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.preview__total {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px; }

.preview__tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.preview__comp {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  margin-left: auto; }

.preview__wish {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.preview--new {
  background: #1B891B; }

.preview--spec {
  background: #D9214F; }

.preview--soon {
  background: #FFC830; }

.preview--top {
  background: #7341D9; }
