/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format("svg"); }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg"); }

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format("svg"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format("svg"); }

/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-900.svg#Montserrat") format("svg"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.eot");
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.woff") format("woff"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat-v15-latin_cyrillic/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format("svg"); }

/* pt-serif-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-regular.svg#PTSerif") format("svg"); }

/* pt-serif-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.woff") format("woff"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/pt-serif-v12-latin_cyrillic/pt-serif-v12-latin_cyrillic-700.svg#PTSerif") format("svg"); }
