@import "var.sass"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	vertical-align: baseline
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display: block
ol, ul 
	list-style: none
blockquote, q 
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after 
	content: ''
	content: none
table 
	border-collapse: collapse
	border-spacing: 0
* 
	box-sizing: border-box
	&:target, &:focus, &:active 
		border: none
		outline: none
body 
	font-family: $ff
	font-weight: $fw
	font-size: $fz
	color: $text_color
	padding-bottom: 500px
a 
	color: $text_color
	text-decoration: none
	font-weight: $fw
	&:hover
		text-decoration: underline
		cursor: url('../img/icons/cursor_hand.svg'), auto
img
	max-width: 100%

h1
	font-family: $ff_accent
	+text(48,700,56,0)
h2
	+text(32,700,40,0)
h3
	+text(24,700,32,0)
h4
	+text(20,700,24,0)
h5
	+text(18,400,24,0)
h6
	+text(14,700,20,0)

button
	font-family: $ff


.container
	width: $container
	margin: 0 auto
	+break(1600)
		width: 90%

.input
	background: #FFFFFF
	border-radius: 4px
	border: 1px solid rgba(36, 36, 38, 0.25)
	&::-webkit-input-placeholder
		+text(14,500,24,$tc_06)
		color: $tc_06
	&::-moz-placeholder
		+text(14,500,24,$tc_06)         
		color: $tc_06
	&:-moz-placeholder
		+text(14,500,24,$tc_06)         
		color: $tc_06
	&:-ms-input-placeholder
		+text(14,500,24,$tc_06)     
		color: $tc_06

.btn
	+text(16,700,24,$text_color)
	background: transparent
	border-radius: 4px
	border: none
	outline: none
	+tran(all, .4s)
	&:hover
		cursor: pointer
	&--yellow
		background: $prim_color
		padding: 11px 0
		width: 100%
		text-align: center
		border: 2px solid transparent
		+tran(all, .4s)
		+hover
			text-decoration: none
			border-color: $prim_color
			background: #fff
	&--buy
		border: 2px solid $prim_color
		border-radius: 4px
		width: 144px
		height: 48px
		+flex(0,0,center,center)
		+before
			transform: scale(0.7)
			margin-right: 8px
		&:hover
			background: $prim_color



.cursor
	&:hover
		cursor:  url('../img/icons/cursor_hand.svg'), auto


.scroll
  &::-webkit-scrollbar
    width: 2px
    height: 3px
    background: transparent
  &::-webkit-scrollbar-thumb
    background: $prim_color
  &::-webkit-scrollbar-track-piece
  &--catalog
  	&::-webkit-scrollbar
  		width: 3px
  		background: #c8c8c8


.close
	background: transparent
	img
		display: block


.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 2
	background: $ov_color
	opacity: 0
	pointer-events: none
	+flex(0,0,center,center)
	+tran(opacity, .4s)
	&--open
		opacity: 1
		pointer-events: auto
	&__win
		position: relative
		width: 100%
		max-width: 1056px
		background: #fff
		padding: 32px 24px
		+xs
			max-height: 100vh
			overflow: auto
	&__close
		position: absolute
		top: 32px
		right: 24px

.quantly
	width: 100%
	max-width: 104px
	form
		+flex(0,0,space-between,center)
	.minus, .plus
		width: 40px
		height: 40px
		padding: 0
		position: relative
		+before
			position: absolute
			width: 16px
			height: 2px
			top: 50%
			left: 50%
			margin-top: -1px
			margin-left: -8px
	.minus
		+before
			background: $tc_025
	input
		width: 40px
		height: 40px
		border: 1px solid $tc_025
		box-sizing: border-box
		border-radius: 4px
		text-align: center
		+text(14,500,0,$text_color)
	.plus
		+before
			background: $text_color
		+after
			position: absolute
			width: 16px
			height: 2px
			top: 50%
			left: 50%
			margin-top: -1px
			margin-left: -8px
			background: $text_color
			transform: rotate(90deg)


.title
	+text(24,700,32,$text_color)



.products
	&--grid
		.preview
			width: 20%
			max-width: 240px





.preview
	// &--hover
	+before
		opacity: 0
		transition: opacity .6s
	+hover
		position: relative
		z-index: 1
		+before
			position: absolute
			top: -48px
			right: -48px
			bottom: -32px
			left: -48px
			background: #fff
			border: 2px solid $prim_color
			box-sizing: border-box
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25)
			border-radius: 4px
			z-index: -1
			opacity: 1

	&__sticker
		display: none
		position: absolute
		top: 27px
		width: 104px
		height: 38px
    border-radius: 10px
		+before
			display: block
			width: 104px
			height: 38px
			position: absolute
			background: #7341D9
			transform: skew(14deg, -4deg)
			border-radius: 10px
	&__thumb
		width: 232px
		height: 240px
		margin-bottom: 16px
		+flex(0,0,center,center)
	&__name
		display: block
		margin-bottom: 20px
		height: 72px
		overflow: hidden
		text-overflow: ellipsis
		+text(18,400,24,0)
	&__rating
		margin-bottom: 20px
		+flex(0,0,flex-start,center)
	&__stars
		margin-right: 8px
		+flex(0,0,flex-start,0)
		i
			margin-right: 2px
	&__starFull
	&__starPiece
	&__starEmpty
	&__ratingTotal
		+text(12,600,0,0)
	&__price
		margin-bottom: 20px
	&__dis
		margin-bottom: 4px
		+flex(0,0,flex-start,0)
	&__perc
		display: inline-block
		background: #D9214F
		border-radius: 2px
		padding: 0 8px
		margin-right: 8px
		+text(16,700,24,#fff)
	&__spec
		text-decoration: line-through
		+text(16,400,24,0)
	&__total
		+text(24,700,24,0)
	&__tools
		+flex(0,0,flex-start,center)
	&__btn
	&__comp
		transform: scale(0.7)
		margin-left: auto
	&__wish
		transform: scale(0.7)
	&--new
		background: $sticker_new
	&--spec
		background: $sticker_special
	&--soon
		background: $sticker_soon
	&--top
		background: $sticker_top

