@import "../var.sass"

.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 3
	background: $ov_color
	opacity: 0
	pointer-events: none
	+flex(0,0,center,center)
	+tran(opacity, .4s)
	&--open
		opacity: 1
		pointer-events: auto
	&__win
		position: relative
		width: 100%
		max-width: 1056px
		background: #fff
		padding: 32px 24px
		+xs
			max-height: 100vh
			overflow: auto
	&__close
		position: absolute
		top: 32px
		right: 24px
		padding: 0


	&Review
		&__form
			padding: 34px
			+xs
				padding: 25px 10px
			form
				padding-top: 0
		&__success
			display: none
			padding: 15px 0
			+xs
				text-align: center
		.productTest__rate
			+xs
				width: 100%
				justify-content: center
		.productTest__rateComment
			+xs
				margin: 16px 0 0 0
				width: 100%
				text-align: center
		.close_modal_review
			+xs
				top: 15px


	&Login
		.modal__win
			width: 100%
			max-width: 450px
			padding: 24px 40px
			border: 1px solid $prim_color
			border-radius: 4px
		.modal__close
			top: 15px
			right: 20px
		&__title
			text-align: center
			margin-bottom: 16px
			+text(24,700,29,0)
		&__msg
			text-align: center
			margin-bottom: 16px
			+text(16,400,20,0)
			&--err
				color: #EB001B
		&__form
		&__row
			position: relative
			.input
				width: 100%
				height: 56px
				padding-left: 9px
			&:not(:first-child)
				margin-top: 16px
		&__showPass
			position: absolute
			top: 50%
			right: 16px
			transform: translateY(-50%)
			width: 24px
			height: 24px
			+before
				position: absolute
				opacity: 1
				top: 0
				right: 0
				+tran(all,.4s)
			+after
				position: absolute
				opacity: 0
				width: 22px
				height: 14px
				top: 5px
				right: 1px
				background: url(../img/icons/ic_eye_open.svg) no-repeat
				+tran(all,.4s)
			&--show
				+before
					opacity: 0
				+after
					opacity: 1
		&__forgot
			border-bottom: 1px dashed #242426
			border-radius: 0
			display: block
			margin: 16px 0 16px auto
			padding: 0
			+tran(all,.2s)
			+text(14,500,24,0)
			+hover
				border-color: transparent
		&__submit
			margin-bottom: 16px

		&__supBtn
			margin: 0
			text-align: center
			display: block
			margin: 0 auto
			+text(16,500,18,0)
		&Social
			padding-top: 29px
			&__title
				margin-bottom: 16px
				text-align: center
				+text(14,400,17,0)
			&__facebook