.footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #F5F6F7));
  background: -o-linear-gradient(left, #fff 50%, #F5F6F7 50%);
  background: linear-gradient(to right, #fff 50%, #F5F6F7 50%); }
  @media (max-width: 768px) {
    .footer {
      background: none; } }
  .footer__inner {
    min-height: 312px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .footer__inner {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .footer__left {
    width: 50%;
    padding-right: 145px;
    padding: 0 145px 16px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1400px) {
      .footer__left {
        padding-right: 45px; } }
    @media (max-width: 768px) {
      .footer__left {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 40px 18px 16px 18px; } }
  .footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 768px) {
      .footer__info {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .footer__logo {
    display: inline-block;
    width: 150px;
    margin-bottom: 24px; }
  .footer__slogan {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 768px) {
      .footer__slogan {
        font-size: 14px; } }
    .footer__slogan--short {
      max-width: 73%; }
      @media (max-width: 768px) {
        .footer__slogan--short {
          text-align: center; } }
  .footer__copy {
    margin-top: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; }
    @media (max-width: 768px) {
      .footer__copy {
        margin-top: 33px; } }
  .footer__img {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    @media (max-width: 1400px) {
      .footer__img {
        width: 150px; } }
    @media (max-width: 1199px) {
      .footer__img {
        width: 110px; } }
    @media (max-width: 992px) {
      .footer__img {
        display: none; } }
    .footer__imgMob {
      width: 100px;
      height: 100px;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin: 0 auto 20px auto;
      display: none; }
      @media (max-width: 768px) {
        .footer__imgMob {
          display: block; } }
  .footer__right {
    width: 50%;
    padding: 40px 0 16px 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 1700px) {
      .footer__right {
        padding-left: 20px; } }
    @media (max-width: 768px) {
      .footer__right {
        width: 100%;
        background: #F5F6F7;
        padding: 24px 18px; } }
  .footer__lists {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 768px) {
      .footer__lists {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  @media (max-width: 768px) {
    .footer__list {
      width: 50%; }
      .footer__list:last-child {
        margin-top: 40px; } }
  .footer__list ul {
    padding-top: 32px; }
    @media (max-width: 768px) {
      .footer__list ul {
        padding-top: 24px; } }
    .footer__list ul li {
      margin-bottom: 8px;
      max-width: 180px;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis; }
      @media (max-width: 768px) {
        .footer__list ul li {
          margin-right: 10px; } }
      .footer__list ul li a {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px; }
        @media (max-width: 1400px) {
          .footer__list ul li a {
            font-size: 12px; } }
        @media (max-width: 768px) {
          .footer__list ul li a {
            font-size: 12px;
            line-height: 20px; } }
  .footer__list:not(:first-child) {
    margin-left: 75px; }
    @media (max-width: 1700px) {
      .footer__list:not(:first-child) {
        margin-left: 30px; } }
    @media (max-width: 768px) {
      .footer__list:not(:first-child) {
        margin-left: 0; } }
  .footer__list--double ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 82px;
       -moz-column-gap: 82px;
            column-gap: 82px; }
    @media (max-width: 1700px) {
      .footer__list--double ul {
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px; } }
  @media (max-width: 1199px) {
    .footer__list + .footer__list + .footer__list {
      display: none; } }
  @media (max-width: 768px) {
    .footer__list + .footer__list + .footer__list {
      display: block;
      margin-top: 40px; } }
  .footer__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
    @media (max-width: 768px) {
      .footer__title {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px; } }
  .footer__social {
    margin-top: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .footer__social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 40px; } }
    .footer__social span {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px; }
      @media (max-width: 768px) {
        .footer__social span {
          margin-bottom: 24px; } }
  .footer__soc {
    margin-left: 32px; }
    @media (max-width: 768px) {
      .footer__soc {
        margin-left: 0; } }
    @media (max-width: 768px) {
      .footer__soc ul li:not(:last-child) {
        margin-right: 32px; } }
  .footer--checkout {
    background: none;
    padding: 16px 0;
    border-top: 1px solid #c8c8c8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1199px) {
      .footer--checkout {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media (max-width: 992px) {
      .footer--checkout {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .footer--checkout .footer__copy {
      margin: 0 20px 0 0; }
    @media (max-width: 992px) {
      .footer--checkout .footer__pay {
        margin-top: 16px; } }
    @media (max-width: 500px) {
      .footer--checkout .footer__pay {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .footer--checkout .footer__pay img:not(:first-child) {
      margin-left: 20px; }
      @media (max-width: 992px) {
        .footer--checkout .footer__pay img:not(:first-child) {
          margin-left: 0; } }
