.footer {
  display: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #F5F6F7));
  background: -o-linear-gradient(left, #fff 50%, #F5F6F7 50%);
  background: linear-gradient(to right, #fff 50%, #F5F6F7 50%); }
  @media (max-width: 768px) {
    .footer {
      display: none; } }
  .footer__inner {
    min-height: 312px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__left {
    width: 50%;
    padding-right: 145px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__logo {
    display: inline-block;
    width: 150px;
    margin-bottom: 24px; }
  .footer__slogan {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    .footer__slogan--short {
      max-width: 73%; }
  .footer__copy {
    margin-top: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; }
  .footer__img {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .footer__right {
    width: 50%;
    padding: 40px 0 18px 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__lists {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__list ul {
    padding-top: 32px; }
    .footer__list ul li {
      margin-bottom: 8px;
      max-width: 180px;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis; }
      .footer__list ul li a {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px; }
  .footer__list:not(:first-child) {
    margin-left: 75px; }
  .footer__list--double ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 82px;
       -moz-column-gap: 82px;
            column-gap: 82px; }
  .footer__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
  .footer__social {
    margin-top: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social span {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px; }
  .footer__soc {
    margin-left: 32px; }
