.mobMenu {
  position: fixed;
  top: 0;
  right: -105%;
  bottom: 0;
  z-index: 10;
  background: #FFC830;
  width: 100%;
  opacity: 0;
  -webkit-transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s;
  -o-transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s;
  transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s; }
  .mobMenu--open {
    right: 0;
    opacity: 1; }
  .mobMenu__inner {
    background: #fff;
    margin: 0 1px;
    border-radius: 4px;
    max-height: calc(100vh - 52px);
    overflow: auto; }
  .mobMenu__top {
    padding: 8px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mobMenu__langs {
    margin-left: auto;
    margin-right: 41px; }
    .mobMenu__langs ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .mobMenu__langs ul li {
        padding-right: 16px;
        margin-right: 16px; }
  .mobMenu__cat {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 24px;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
    .mobMenu__cat::before {
      content: '';
      display: block;
      width: 24px;
      height: 14px;
      margin-right: 16px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      background: url(../img/icons/catalog/burger.svg) no-repeat; }
  .mobMenuAcc {
    padding: 24px; }
    .mobMenuAcc__link {
      margin-bottom: 24px; }
      .mobMenuAcc__link:last-child {
        margin-bottom: 0; }
      .mobMenuAcc__link a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 24px;
        color: #242426; }
        .mobMenuAcc__link a::before {
          content: '';
          margin-right: 17px; }
  .mobMenuSocial {
    padding: 20px 24px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobMenuSocial__title {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      color: #242426; }
    .mobMenuSocial__links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .mobMenuSocial__links li {
        margin-right: 32px; }
        .mobMenuSocial__links li:last-child {
          margin-right: 0; }
  .mobMenuLinks {
    padding: 24px 24px 0 24px; }
    .mobMenuLinks__title {
      margin-bottom: 16px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      color: #242426; }
    .mobMenuLinks__list li {
      margin-bottom: 16px; }
      .mobMenuLinks__list li a {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        color: #242426; }
