.modalCart {
  background: rgba(0, 0, 0, 0.25);
  z-index: 4; }
  @media (max-width: 768px) {
    .modalCart {
      right: -105%;
      left: unset;
      width: 100%;
      -webkit-transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s;
      -o-transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s;
      transition: right 0.6s cubic-bezier(0.14, 0.07, 0.1, 1.19), opacity 0.3s; }
      .modalCart--open {
        right: 0;
        opacity: 1;
        pointer-events: auto; } }
  .modalCart .modal__win {
    padding: 0;
    border: 2px solid #FFC830;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 8px rgba(36, 36, 38, 0.25);
            box-shadow: 0px 4px 8px rgba(36, 36, 38, 0.25);
    border-radius: 4px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    @media (max-width: 1199px) {
      .modalCart .modal__win {
        width: 80%;
        max-width: 100%; } }
    @media (max-width: 768px) {
      .modalCart .modal__win {
        width: 100%;
        height: 100%;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .modalCart__title {
    padding: 24px 32px;
    border-bottom: 1px solid #c8c8c8;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #242426; }
    .modalCart__title::before {
      content: '';
      display: none; }
    @media (max-width: 768px) {
      .modalCart__title {
        background: #FFC830;
        text-align: center;
        padding: 7px 17px;
        border-bottom: 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 34px; }
        .modalCart__title::before {
          content: '';
          display: block;
          position: absolute;
          -webkit-transform: scale(0.8);
              -ms-transform: scale(0.8);
                  transform: scale(0.8); } }
  .modalCart__inner {
    padding: 0 32px;
    max-height: 394px;
    overflow: auto; }
    @media (max-width: 768px) {
      .modalCart__inner {
        padding: 0 17px;
        border-radius: 4px;
        max-height: 73%; } }
  .modalCart__item {
    padding: 40px 0 32px 0;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 768px) {
      .modalCart__item {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 16px 0; } }
  .modalCart__del {
    position: absolute;
    top: 40px;
    right: 0;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5); }
    @media (max-width: 768px) {
      .modalCart__del {
        -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
                transform: scale(0.7);
        top: 16px; } }
  .modalCart__thumb {
    margin-right: 32px; }
    @media (max-width: 768px) {
      .modalCart__thumb {
        max-width: 44px;
        margin-right: 12px; } }
  .modalCart__info {
    padding-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1199px) {
      .modalCart__info {
        padding: 0; } }
    @media (max-width: 768px) {
      .modalCart__info {
        width: calc(100% - 60px);
        padding-right: 35px; } }
  .modalCart__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
    @media (max-width: 768px) {
      .modalCart__name {
        font-size: 12px;
        font-weight: 500; } }
  .modalCart__dis {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .modalCart__perc {
    display: inline-block;
    background: #D9214F;
    border-radius: 2px;
    padding: 0 8px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff; }
    @media (max-width: 768px) {
      .modalCart__perc {
        padding: 0 5px;
        font-size: 12px; } }
  .modalCart__spec {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 768px) {
      .modalCart__spec {
        font-size: 12px; } }
  .modalCart__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
    @media (max-width: 768px) {
      .modalCart__price {
        font-size: 12px;
        font-weight: 500; } }
  .modalCart__itemAll {
    margin-left: auto;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 100%;
    max-width: 316px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .modalCart__itemAll {
        margin-left: 0;
        padding: 15px 0 0 50px; } }
  .modalCart__Alltotal {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
    @media (max-width: 768px) {
      .modalCart__Alltotal {
        font-size: 15px;
        font-weight: 600;
        line-height: 24px; } }
  .modalCart__total {
    width: 100%;
    max-width: 316px;
    margin: 30px 32px 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .modalCart__total {
        margin: auto 0 0 0;
        padding: 16px;
        max-width: 100%; } }
  .modalCart__totalLabel {
    font-size: 14px;
    line-height: 24px; }
    @media (max-width: 768px) {
      .modalCart__totalLabel {
        font-size: 12px;
        line-height: 20px; } }
  .modalCart__totalVal {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
    @media (max-width: 768px) {
      .modalCart__totalVal {
        font-size: 16px;
        line-height: 24px; } }
  .modalCart__nav {
    padding: 16px 32px 32px 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .modalCart__nav {
        padding: 16px;
        min-height: 123px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .modalCart__continue {
    border-bottom: 1px dashed #242426;
    padding: 0;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px; }
    .modalCart__continue:hover {
      border-color: transparent; }
    @media (max-width: 768px) {
      .modalCart__continue {
        margin-top: 16px; } }
  .modalCart__checkout {
    width: auto;
    font-weight: 700;
    padding: 11px 55px;
    border-radius: 4px; }
    @media (max-width: 768px) {
      .modalCart__checkout {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap; } }
  @media (max-width: 768px) {
    .modalCart .close_modal_cart {
      top: 15px; } }
