.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
  .modal__win {
    position: relative;
    width: 100%;
    max-width: 1056px;
    background: #fff;
    padding: 32px 24px; }
    @media (max-width: 768px) {
      .modal__win {
        max-height: 100vh;
        overflow: auto; } }
  .modal__close {
    position: absolute;
    top: 32px;
    right: 24px;
    padding: 0; }
  .modalReview__form {
    padding: 34px; }
    @media (max-width: 768px) {
      .modalReview__form {
        padding: 25px 10px; } }
    .modalReview__form form {
      padding-top: 0; }
  .modalReview__success {
    display: none;
    padding: 15px 0; }
    @media (max-width: 768px) {
      .modalReview__success {
        text-align: center; } }
  @media (max-width: 768px) {
    .modalReview .productTest__rate {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 768px) {
    .modalReview .productTest__rateComment {
      margin: 16px 0 0 0;
      width: 100%;
      text-align: center; } }
  @media (max-width: 768px) {
    .modalReview .close_modal_review {
      top: 15px; } }
  .modalLogin .modal__win {
    width: 100%;
    max-width: 450px;
    padding: 24px 40px;
    border: 1px solid #FFC830;
    border-radius: 4px; }
  .modalLogin .modal__close {
    top: 15px;
    right: 20px; }
  .modalLogin__title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px; }
  .modalLogin__msg {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
    .modalLogin__msg--err {
      color: #EB001B; }
  .modalLogin__row {
    position: relative; }
    .modalLogin__row .input {
      width: 100%;
      height: 56px;
      padding-left: 9px; }
    .modalLogin__row:not(:first-child) {
      margin-top: 16px; }
  .modalLogin__showPass {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 24px; }
    .modalLogin__showPass::before {
      content: '';
      position: absolute;
      opacity: 1;
      top: 0;
      right: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .modalLogin__showPass::after {
      content: '';
      position: absolute;
      opacity: 0;
      width: 22px;
      height: 14px;
      top: 5px;
      right: 1px;
      background: url(../img/icons/ic_eye_open.svg) no-repeat;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .modalLogin__showPass--show::before {
      content: '';
      opacity: 0; }
    .modalLogin__showPass--show::after {
      content: '';
      opacity: 1; }
  .modalLogin__forgot {
    border-bottom: 1px dashed #242426;
    border-radius: 0;
    display: block;
    margin: 16px 0 16px auto;
    padding: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
    .modalLogin__forgot:hover {
      border-color: transparent; }
  .modalLogin__submit {
    margin-bottom: 16px; }
  .modalLogin__supBtn {
    margin: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px; }
  .modalLoginSocial {
    padding-top: 29px; }
    .modalLoginSocial__title {
      margin-bottom: 16px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px; }
